.header{
    
}
.h{
    background-color: $c-black;
    color: white;
    min-height: 130px;
    align-items: center;
    a{
        color: inherit;
        text-decoration: none;
        transition: 350ms;
        &:hover, &.active{
            color: $c-orange;
            //text-decoration: underline;    
        }
    }
    
    &_container{
        justify-content: space-between;
        padding: 1.25em 0;
    }
    &_nav-and-offer{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        width: 100%;
        max-width: 600px;
    }
    &_nav{
        width: 100%;
        font-size: 1.15em;
        letter-spacing: 0.05em;
        ul{
            list-style: none;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-between;
        }
    }
    &_offer{
        text-align: center;
        font-size: 1.6em;
        letter-spacing: 0.1em;
        margin-top: 1em;
        
        h1{
            font-size: 1em;
        }
    }
    
    &_contacts{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 1.15em;
        letter-spacing: 0.05em;
        a{
            margin-bottom: 1em;
        }
    }
}
.mo{
    position: relative;
    min-height: 550px;
    min-height: calc( 100vh - 130px );
    overflow: hidden;
    &:after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -10;
        background: $c-orange;
    }
    &:before{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('../images/grey-polygonal.png') no-repeat;
        background-size: cover;
        background-position: left bottom;
        opacity: 0.03;
        z-index: -8;
    }
    &_container{
        flex-wrap: nowrap;
        align-items: center;
    }
    &_images{
        margin-left: auto;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        flex-shrink: 1;
    }
    
    &_text{
        white-space: nowrap;
    }
    &_offer{
        //margin-top: 90px;
        font-size: 3.25em;
        letter-spacing: 0.11em;
        .sub{
            font-size: 0.65em;
        }
    }
    &_description{
        font-size: 2em;
        letter-spacing: 0.11em;
        color: white;
        font-weight: 300;
        margin-top: 80px;
        position: relative;
        &:before{
            content: '';
            display: block;
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            padding: 0.5em;
            left: -0.5em;
            top: -0.6em;
            background: rgba(0,0,0, 0.05);
        }
    }
    
        
}
.a{
    background: $c-black;
    padding: 1.25em 0;
    
    &_container{
        justify-content: center;
    }
    
}

.advantages{
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    white-space: nowrap;
    color: white;
}
.advantage{
    flex: 0 0 33.33%;
    &-text{
        font-size: 1.3em;
        font-weight: 300;
        margin-top: 0.5em;
        line-height: 1em;
    }
}
.f1{
    padding-top: 30px;
    padding-bottom: 50px;
    
    
    &_container{
    }
    .orange-border{
        max-width: 170px;
        margin-top: 15px;
        //margin-bottom: px;
    }
    
    .sec-title{
        text-align: center;
        margin-top: 1em;
        max-width: 700px;
        margin: 1em auto;
    }
}
.dl{
    position: relative;
    overflow: hidden;
    &:before{
        @include pseudo-bg{
            background-color: $c-grey;
            z-index: -10;
        }
    }
    &:after{
        @include pseudo-bg{
            background: url('../images/grey-polygonal-2.jpg') no-repeat;
            background-size: cover;
            opacity: 0.15;
            z-index: -9;
        }
    }
    &_container{
        padding: 50px 0;
        
        .sec-title{
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            width: 100%;
            max-width: 850px;
            margin-bottom: 1.5em;
        }
    }
    
    &_text{
        font-size: 1.25em;
        //@include flex-columns{ justify-content: space-between; }
        
        p{
            margin-bottom: 0.7em;
        }
        a.btn{ 
            font-size: 1.2em; 
            text-decoration: none;
        }
    }
}
.rec{
    position: relative;
    &:before{
        @include pseudo-bg{
            background-color: $c-orange;
            z-index: -10;
        }
    }
    &:after{
        @include pseudo-bg{
            background: url('../images/bg-citrus.jpg') no-repeat;
            background-size: cover;
            opacity: 0.035;
            z-index: -9;
        }
    }
    &_container{
        padding: 50px 0;
    }
    
    &_col-left{
        .sec-title{
            letter-spacing: 0.1em;
        }
        hr{
            width: 100px;
            margin: 100px auto 100px 0;
        }
    }
    &_text{
        font-size: 1.4em;
        letter-spacing: 0.05em;
        line-height: 1em;
        p{
            margin-bottom: 1em;
        }
        @include grey-back-1em();
    }
    &_form-col{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: flex-end;
        .form-items{
            align-items: flex-end;
        }
    }
}
.st{
    &_container{
        padding-top: 60px;
        padding-bottom: 50px;
    }
    &_title{
        text-align: center;
        letter-spacing: 0.15em;
    }
    &_desc{
        @extend .circe;
        text-align: center;
        font-size: 1.75em;
        max-width: 1000px;
        margin: 35px auto;
        line-height: 1.25em;
    }
    &_stage{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 50px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &_img{
        width: 70%;
        max-width: 520px;
        min-width: 350px;
        img{
            width: 100%;
            height: auto;
        }
    }
    &_text{
        width: 70%;
        max-width: 520px;
        min-width: 350px;
        font-size: 1.15em;
        @extend .circe;
        
        p{
            margin-bottom: 0.75em;
            &:first-child{
                font-weight: 600;
                font-size: 1.25em;
                line-height: 1em;
                
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
        
        &.v-justify{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}
.rec-2{
    position: relative;
    &:before{
        @include pseudo-bg{
            background-color: $c-orange;
            z-index: -10;
        }
    }
    &:after{
        @include pseudo-bg{
            background: url('../images/hex-bg.jpg') no-repeat;
            background-size: cover;
            opacity: 0.05;
            z-index: -9;
        }
    }
    
    .rec_col-left{
        padding-top: 45px;
    }
}
.np{
    &_container{
        padding: 90px 0;
    }
    
    &_title{
        letter-spacing: 0.2em;
        text-align: center;
    }
    
    &_cnt{
        margin-top: 35px;
        font-size: 1.25em;
    }
    &_text{
        max-width: 620px;
    }
}
.pt{
    background: $c-grey;
    &_container{
        padding: 90px 0;
    }
    &_title{
        letter-spacing: 0.2em;
        text-align: center;
    }
    &_cnt{
        margin-top: 55px;
    }
}
.spec{
    position: relative;
    color: white;
    &:before{
        @include pseudo-bg{
            z-index: -10;
            background-color: #000;
        }
    }
    &:after{
        @include pseudo-bg{
            background-image: url('../images/grey-polygonal-2.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            opacity: 0.25;
            z-index: -9;
        }
    }
    &_container{
        padding: 100px 0;
        max-width: 950px;
    }
    &_title{
        text-align: center;
        letter-spacing: 0.2em;
    }
    &_cnt{
        text-align: center;
        margin-top: 40px;
        font-size: 1.45em;
    }
}
.gift{
    position: relative;
    //color: white;
    &:before{
        @include pseudo-bg{
            z-index: -10;
            background-color: $c-orange;
        }
    }
    &:after{
        @include pseudo-bg{
            background-image: url('../images/bg-citrus.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            opacity: 0.1;
            z-index: -9;
        }
    }
      
    &_container{
        padding: 90px 0;
        max-width: 920px;
    }
    &_title{
        letter-spacing: 0.2em;
        text-align: center;
    }
    &_cnt{
        margin-top: 30px;
        font-size: 1.45em;
    }
    
    &_item{
        margin-top: 20px;
        &:first-child{
            margin-top: 0;
        }
        &-title{}
        &-desc{
            color: white;
            margin-top: 20px;
        }
        &-price{
            color: white;
            margin-top: 20px;
        }
    }
}
.case{
    &_row{
        padding: 90px 0;
    }
    &_container{
        
    }
    &_title{
        text-align: center;
        letter-spacing: 0.2em;
    }
    &_cnt{
        margin-top: 75px;
    }
}
.case{
    &_item{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding-top: 25px;
        &:after{
            content: '';
            display: block;
            width: 50%;
            height: 2px;
            background-color: $c-orange;
            position: absolute;
            bottom: -1px;
            left: 25%;
        }
        &:last-child{
            &:after{
                display: none;
            }
        }
    }
    &_info{
        font-size: 1.25em;
        max-width: 500px;
        flex-shrink: 0;
        flex-grow: 1;
    }
    &_images{
        //width: 480px;
        width: 400px;
        flex-shrink: 0;
        flex-grow: 0;
    }
    
    &_slider{
        width: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
    }
    &_slide{
        //width: 100%;
        //height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
}
.contacts{
    &_row{
        background-color: $c-orange;
    }
    &_container{
        padding: 90px 0;
    }
    &_title{
        text-align: center;
        letter-spacing: 0.2em;
        a{
            color: inherit;
            text-decoration: none;
        }
    }
    &_cnt{
        margin-top: 85px;
    }
    &_desc{
        text-align: center;
        font-size: 1.75em;
        margin-top: 20px;
    }
}
.contacts{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact{
    flex-basis: 33.33%;
    min-width: 250px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    margin-bottom: 2em;
    position: relative;
    &:after{
        content: '';
        height: 55px;
        width: 2px;
        background-color: black;
        position: absolute;
        right: 0;
        top: calc(50% - 28px);
    }
    &:last-child{
        &:after{ display: none; }
    }
    
    >div{ text-align: center; }
    &_icon{}
    &_label{
        margin-top: 20px;
    }
    &_value{
        color: white;
    }
    a{
        color: inherit;
        text-decoration: none;
    }
    
}
.price-table{
    width: 100%;
    max-width: 1170px;
    border-collapse: collapse;
    tr{
        width: 100%;
        th{
            &:first-child{
                text-align: left;
                width: 270px !important;
                max-width: 270px;
                padding-left: 30px;
            }
        }
    }
    th,td{
        width: 25%;
        text-align: center;
        white-space: normal;
        padding-top: 10px;
        padding-bottom: 6px;
        vertical-align: middle;
        border: 1px solid #adacac;
        min-height: 45px;
    }
    .action-row, .header-row{
        th,td{ border: none; }
    }
}
#price-table{}

.footer{
    
    &_row{
        background: $c-black;
        padding-top: 50px;
        padding-bottom: 70px;
        
        color: $c-white;
    }
    
    
}
.f{
    &-col{
        &-1{
            text-align: center;
        }
        &-2{
            font-size: 1.5em;
        }
        &-3{
            font-size: 1.5em;
        }
    }
    &-p{
        &-1{}
        &-2{
            margin-top: 1em;
        }
        &-3{}
        &-4{
            margin-top: 1em;
        }
        &-5{
            margin-top: 1em;
        }
        //&-6{}
    }
}


.policy{
    &__cnt{
        max-width: 800px;
    }
    &__main-title{
        text-align: center;
        font-size: 1.5em;
        letter-spacing: 0.1em;
    }
    &__title{
        //@extend .bebas;
        font-size: 1.15em;
        //letter-spacing: 0.05em;
        margin-top: 1.25em;
        font-weight: 600;
    }
    &__desc{}
}


.wpcf7{
    &.fancybox-content{
        position: relative;
        &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #fff;
            z-index: -2;
        }
        label{
            z-index: 0;
        }
        .has-submit{
            &:before, &:after{
                z-index: 0;
            }
            input{
                z-index: 1;
                position: relative;
            }
        }
    }
}

.form-in-popup{
    //clear: both;
    float: none !important;
    .vertical-form{
        
    }
}

.z-popup{
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .bg{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    &__cnt{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        &:before{
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            background-color: white;
            z-index: -10;
        }
        z-index: 2;
    }
}