.form-title{
    font-size: 1.6em;
    letter-spacing: 0.075em;
}
.form-item{
    position: relative;
    font-size: 1.2em;
    label{
        position: absolute;
        z-index: -1;
        left: 10px;
        top: 0.8em;
        opacity: 0.5;
        transition: 250ms;
    }
    span{}
    input[type=text]{
        height: 3em;
        font-size: 1em;
        border: solid 1px black;
        border-radius: 3px;
        outline: none;
        padding-left: 10px;
        padding-right: 10px;
        background: transparent;
        width: 100%;
    }
    
    &.label-out{
        label{
            left: 5px;
            top: -1.5em;
            opacity: 0.25;
            font-size: 0.75em;
        }
    }
}

$icon-tt: -50%;
.form-item{
    width: 100%;
    max-width: 270px;
    &.sml{
        input[type=text]{
            height: 2em;
        }
        label{
            top: 0.4em;
        }
        &.label-out{
            label{
                top: -1.25em;
            }
        }
    }
    
    
    &.user-item{
        position: relative;
        &:after{
            content: '';
            display: block;
            position: absolute;
            background: url('../icons/icon-user.png') no-repeat;
            background-size: contain;
            background-position: right;
            right: 5px;
            top: 50%;
            transform: translateY( $icon-tt );
            //top: 0.65em;
            width: 30px;
            height: 30px;
        }
        input{
            padding-right: 40px;
        }
    }
    &.phone-item{
        position: relative;
        &:after{
            content: '';
            display: block;
            position: absolute;
            background: url('../icons/icon-ringer-volume.png') no-repeat;
            background-size: contain;
            background-position: right;
            right: 5px;
            top: 50%;
            transform: translateY( $icon-tt );
            width: 30px;
            height: 30px;
        }
        input{
            padding-right: 40px;
        }
    }
    &.mail-item{
        position: relative;
        &:after{
            content: '';
            display: block;
            position: absolute;
            background: url('../icons/icon-new-post.png') no-repeat;
            background-size: contain;
            background-position: right;
            right: 5px;
            top: 50%;
            transform: translateY( $icon-tt );
            width: 30px;
            height: 30px;
        }
        input{
            padding-right: 40px;
        }
    }
    
    &.submit-item{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        width: auto;
        max-width: 100%;
        .icon{
            display: block;
                position: absolute;
                background: url('../icons/icon-enter.png') no-repeat;
                background-size: contain;
                background-position: right;
                right: 5px;
                //top: 50%;
                //transform: translateY( $icon-tt );
                width: 30px;
                height: 30px;
        }
        input{
            padding-right: 40px;
        }
    }
    
    .access{
        max-width: 100%;
        display: block;
        width: 100%;
        max-width: 320px;
        text-align: center;
        font-size: 0.75em;
        line-height: 1em;
        margin-top: 0.5em;
        text-align: center;
        a{
            //color: $c-blue;
        }
    }
}


.form-items{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
    
    &.vertical-form{
        flex-direction: column;
        align-items: stretch;
        max-width: 400px;
        padding: 40px;
        border: solid 1px black;
        border-radius: 3px;
        float: right;
        .form-title{
            width: 100%;
            text-align: center;
            margin-bottom: 1em;
        }
        .form-item{
            max-width: 100%;
            margin-bottom: 1.75em;
        }
    }
}

.text-item{
    
}