*{
    box-sizing: border-box;
}
@import 'mixins/grid';

.row{ @include make-row(); }
body{
    &>.row{
        @include make-row{
            justify-content: center;
        };
    }
}

@include make-container(1170px, 10px);
@include make-cols($prefix: '', $qty: 12);
@include make-pull($prefix: '');
@include make-offsets('' , 12);

@media (min-width: 1000px) {
    
}


.f-sp-between{
    justify-content: space-between;
}
.f-sp-around{
    justify-content: space-around;
}
.f-stretch{
    align-content: stretch;
}


.b-text-and-image{
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .b-text{
        width: 100%;
        max-width: 670px;
        p{
            margin: 1em;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .b-image{
        width: 100%;
        max-width: 470px;
    }
}