body{
    font-family: Arial, Helvetica;
}


h4{
    font-size: 2em;
}

.c-inherit{ color: inherit; }
.c-black{ color: $c-black; }
.c-blue{ color: $c-blue; }
.c-white{ color: $c-white; }
.c-orange{ color: $c-orange; }
.c-grey{ color: $c-grey; }

.td-lt{
    text-decoration: line-through;
}

.align-center{
    text-align: center;
}

.sec-title{
    @extend .bebas;
}