@import 'mixins/ui';

.btn{
    @include btn();
    &.has-submit{
        padding: 0;
        input{
            padding: 1.1em 2em 0.7em 2em;
        }
        .ajax-loader{
            position: absolute;
            right: 0.5em;
            //top: 0;
            //visibility: visible !important;
            
            //display: block;
            background-image: url('../images/loader-2.gif');
            width: 32px;
            height: 32px;
            background-repeat: no-repeat;
            background-size: contain;
            top: calc(50% - 16px);
        }
    }
    &-primary{
        border: solid 2px darkblue;
        border-radius: 0.5em;
        overflow: hidden;
        transition: 500ms;
        
        
        
    }
    &-orange{
        background: $c-orange;
        color: black;
        border-bottom: solid 3px darken($c-orange, 10%);
        border-radius: 3px;
        &.hover-ef-1{
            @include btn-hover-ef-1($c-blue, 'white');
        }
    }
    
    &-blue{
        background: $c-blue;
        color: black;
        border-bottom: solid 3px darken($c-blue, 20%);
        border-radius: 3px;
        &.hover-ef-1{
            $c: #72cf42;
            @include btn-hover-ef-1($c, 'white');
        }
    }
    
    
    &.hover-ef-2{
        position: relative;
        &:before{
            content: '';
            display: block;
            position: absolute;
            z-index: -1;
            background: darkblue;
            transition: 350ms;
            left: 0;
            top: 0;
            height: 100%;
            width: 0;
        }
        &:hover{
            color: white;
            &:before{
                width: 100%;
            }
        }
    }
    &.hover-ef-3{
        position: relative;
        &:before{
            content: '';
            display: block;
            position: absolute;
            z-index: -1;
            background: darkblue;
            transition: 350ms;
            right: 0;
            top: 0;
            height: 100%;
            width: 0;
        }
        &:hover{
            color: white;
            &:before{
                width: 100%;
            }
        }
    }
    &.hover-ef-4{
        position: relative;
        &:before{
            content: '';
            display: block;
            position: absolute;
            z-index: -1;
            background: darkblue;
            transition: 350ms;
            right: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
        }
        &:hover{
            color: white;
            &:before{
                height: 100%;
            }
        }
    }
    &.hover-ef-5{
        position: relative;
        &:before{
            content: '';
            display: block;
            position: absolute;
            z-index: -1;
            background: darkblue;
            transition: 350ms;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
        }
        &:hover{
            color: white;
            &:before{
                height: 100%;
            }
        }
    }
    &.hover-ef-6{
        position: relative;
        &:before, &:after{
            content: '';
            display: block;
            position: absolute;
            z-index: -1;
            background: darkblue;
            transition: 350ms;
            left: 0;
            width: 100%;
            height: 0;
        }
        &:before{
            top: 0;
        }
        &:after{
            bottom: 0;
        }
        &:hover{
            color: white;
            &:before, &:after{
                height: 51%;
            }
        }
    }
    &.hover-ef-7{
        position: relative;
        &:before, &:after{
            content: '';
            display: block;
            position: absolute;
            z-index: -1;
            background: darkblue;
            transition: 350ms;
            left: 0;
            width: 100%;
            height: 0;
        }
        &:before{
            top: 50%;
        }
        &:after{
            bottom: 50%;
        }
        &:hover{
            color: white;
            &:before, &:after{
                height: 51%;
            }
        }
    }
    
}
input[type=submit]{
    font-size: 1em;
    border: none;
    background: transparent;
    outline: 0 !important;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 0.6em 2em 0.4em 2em;
}


.link-logo{
    background: url('../images/logo.png') no-repeat;
    width: 105px;
    height: 86px;
}

.link-phone{
    position: relative;
    padding-left: 40px;
    &:before{
        content: '';
        display: block;
        background: url('../icons/icon-phone.png') no-repeat;
        width: 24px;
        height: 25px;
        position: absolute;
        left: 0;
        top: -5px;
    }
    
}
.link-email{
    letter-spacing: 0.1em;
    position: relative;
    padding-left: 40px;
    &:before{
        content: '';
        display: block;
        background: url('../icons/icon-mail.png') no-repeat;
        width: 25px;
        height: 19px;
        position: absolute;
        left: 0;
        top: -3px;
    }
}

.circe{
    font-family: Circe;
}
.circe-i{
    font-family: Circe !important;
}
.bebas{
    font-family: Bebas Neue;
    *{
        font-family: Bebas Neue;
    }
}
.bebas-i{
    font-family: Bebas Neue !important;
}


.orange-border{
    background: $c-orange;
    border: none;
    height: 2px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.black-border{
    background: $c-black;
    border: none;
    height: 2px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.sn-link{
    display: inline-block;
    margin: 0 0.3em;
    transform: scale(0.9);
    transition: 350ms;
    img{
        
    }
    &:hover{
        transform: scale(1.1);
    }
}
.wpcf7-form-control-wrap{
    display: block;
}
span.wpcf7-not-valid-tip{
    font-size: 0.75em;
    position: absolute;
    top: calc( 100% + 5px );
}
.wpcf7-response-output{
    text-align: center;
    border: none !important;
    margin: 1em;
    padding: 1em;
}