/* line 1, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_reset.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 7, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_reset.scss */
body {
  font-size: 15px; }

/* line 3, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
.btn {
  display: inline-block;
  padding: 0.6em 2em 0.4em 2em;
  color: darkgrey;
  position: relative;
  cursor: pointer;
  overflow: hidden; }
  /* line 5, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
  .btn.has-submit {
    padding: 0; }
    /* line 7, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
    .btn.has-submit input {
      padding: 1.1em 2em 0.7em 2em; }
    /* line 10, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
    .btn.has-submit .ajax-loader {
      position: absolute;
      right: 0.5em;
      background-image: url("../images/loader-2.gif");
      width: 32px;
      height: 32px;
      background-repeat: no-repeat;
      background-size: contain;
      top: calc(50% - 16px); }
  /* line 25, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
  .btn-primary {
    border: solid 2px darkblue;
    border-radius: 0.5em;
    overflow: hidden;
    transition: 500ms; }
  /* line 34, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
  .btn-orange {
    background: #ffbe0d;
    color: black;
    border-bottom: solid 3px #d99f00;
    border-radius: 3px; }
    /* line 39, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
    .btn-orange.hover-ef-1 {
      transition: background 100ms;
      transition-delay: 350ms; }
      /* line 18, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_ui.scss */
      .btn-orange.hover-ef-1:before, .btn-orange.hover-ef-1:after {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        background: #00b7f4;
        height: 105%;
        width: 70%;
        top: 0;
        transform: skewX(-45deg);
        transition: 350ms ease-in-out; }
      /* line 30, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_ui.scss */
      .btn-orange.hover-ef-1:before {
        left: -100%; }
      /* line 33, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_ui.scss */
      .btn-orange.hover-ef-1:after {
        right: -100%; }
      /* line 36, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_ui.scss */
      .btn-orange.hover-ef-1:hover {
        background: transparent;
        transition: background 350ms;
        transition-delay: 0ms;
        border-bottom: solid 3px #006b8e; }
        /* line 42, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_ui.scss */
        .btn-orange.hover-ef-1:hover:before {
          left: -15%; }
        /* line 45, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_ui.scss */
        .btn-orange.hover-ef-1:hover:after {
          right: -15%; }
  /* line 44, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
  .btn-blue {
    background: #00b7f4;
    color: black;
    border-bottom: solid 3px #006b8e;
    border-radius: 3px; }
    /* line 49, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
    .btn-blue.hover-ef-1 {
      transition: background 100ms;
      transition-delay: 350ms; }
      /* line 18, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_ui.scss */
      .btn-blue.hover-ef-1:before, .btn-blue.hover-ef-1:after {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        background: #72cf42;
        height: 105%;
        width: 70%;
        top: 0;
        transform: skewX(-45deg);
        transition: 350ms ease-in-out; }
      /* line 30, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_ui.scss */
      .btn-blue.hover-ef-1:before {
        left: -100%; }
      /* line 33, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_ui.scss */
      .btn-blue.hover-ef-1:after {
        right: -100%; }
      /* line 36, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_ui.scss */
      .btn-blue.hover-ef-1:hover {
        background: transparent;
        transition: background 350ms;
        transition-delay: 0ms;
        border-bottom: solid 3px #458823; }
        /* line 42, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_ui.scss */
        .btn-blue.hover-ef-1:hover:before {
          left: -15%; }
        /* line 45, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_ui.scss */
        .btn-blue.hover-ef-1:hover:after {
          right: -15%; }
  /* line 56, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
  .btn.hover-ef-2 {
    position: relative; }
    /* line 58, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
    .btn.hover-ef-2:before {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      background: darkblue;
      transition: 350ms;
      left: 0;
      top: 0;
      height: 100%;
      width: 0; }
    /* line 70, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
    .btn.hover-ef-2:hover {
      color: white; }
      /* line 72, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
      .btn.hover-ef-2:hover:before {
        width: 100%; }
  /* line 77, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
  .btn.hover-ef-3 {
    position: relative; }
    /* line 79, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
    .btn.hover-ef-3:before {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      background: darkblue;
      transition: 350ms;
      right: 0;
      top: 0;
      height: 100%;
      width: 0; }
    /* line 91, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
    .btn.hover-ef-3:hover {
      color: white; }
      /* line 93, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
      .btn.hover-ef-3:hover:before {
        width: 100%; }
  /* line 98, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
  .btn.hover-ef-4 {
    position: relative; }
    /* line 100, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
    .btn.hover-ef-4:before {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      background: darkblue;
      transition: 350ms;
      right: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 0; }
    /* line 113, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
    .btn.hover-ef-4:hover {
      color: white; }
      /* line 115, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
      .btn.hover-ef-4:hover:before {
        height: 100%; }
  /* line 120, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
  .btn.hover-ef-5 {
    position: relative; }
    /* line 122, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
    .btn.hover-ef-5:before {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      background: darkblue;
      transition: 350ms;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0; }
    /* line 135, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
    .btn.hover-ef-5:hover {
      color: white; }
      /* line 137, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
      .btn.hover-ef-5:hover:before {
        height: 100%; }
  /* line 142, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
  .btn.hover-ef-6 {
    position: relative; }
    /* line 144, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
    .btn.hover-ef-6:before, .btn.hover-ef-6:after {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      background: darkblue;
      transition: 350ms;
      left: 0;
      width: 100%;
      height: 0; }
    /* line 155, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
    .btn.hover-ef-6:before {
      top: 0; }
    /* line 158, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
    .btn.hover-ef-6:after {
      bottom: 0; }
    /* line 161, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
    .btn.hover-ef-6:hover {
      color: white; }
      /* line 163, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
      .btn.hover-ef-6:hover:before, .btn.hover-ef-6:hover:after {
        height: 51%; }
  /* line 168, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
  .btn.hover-ef-7 {
    position: relative; }
    /* line 170, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
    .btn.hover-ef-7:before, .btn.hover-ef-7:after {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      background: darkblue;
      transition: 350ms;
      left: 0;
      width: 100%;
      height: 0; }
    /* line 181, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
    .btn.hover-ef-7:before {
      top: 50%; }
    /* line 184, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
    .btn.hover-ef-7:after {
      bottom: 50%; }
    /* line 187, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
    .btn.hover-ef-7:hover {
      color: white; }
      /* line 189, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
      .btn.hover-ef-7:hover:before, .btn.hover-ef-7:hover:after {
        height: 51%; }

/* line 196, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
input[type=submit] {
  font-size: 1em;
  border: none;
  background: transparent;
  outline: 0 !important;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 0.6em 2em 0.4em 2em; }

/* line 210, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
.link-logo {
  background: url("../images/logo.png") no-repeat;
  width: 105px;
  height: 86px; }

/* line 216, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
.link-phone {
  position: relative;
  padding-left: 40px; }
  /* line 219, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
  .link-phone:before {
    content: '';
    display: block;
    background: url("../icons/icon-phone.png") no-repeat;
    width: 24px;
    height: 25px;
    position: absolute;
    left: 0;
    top: -5px; }

/* line 231, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
.link-email {
  letter-spacing: 0.1em;
  position: relative;
  padding-left: 40px; }
  /* line 235, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
  .link-email:before {
    content: '';
    display: block;
    background: url("../icons/icon-mail.png") no-repeat;
    width: 25px;
    height: 19px;
    position: absolute;
    left: 0;
    top: -3px; }

/* line 247, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
.circe, .st_desc, .st_text {
  font-family: Circe; }

/* line 250, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
.circe-i {
  font-family: Circe !important; }

/* line 253, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
.bebas, .sec-title {
  font-family: Bebas Neue; }
  /* line 255, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
  .bebas *, .sec-title * {
    font-family: Bebas Neue; }

/* line 259, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
.bebas-i {
  font-family: Bebas Neue !important; }

/* line 264, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
.orange-border {
  background: #ffbe0d;
  border: none;
  height: 2px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* line 273, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
.black-border {
  background: #000;
  border: none;
  height: 2px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* line 284, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
.sn-link {
  display: inline-block;
  margin: 0 0.3em;
  transform: scale(0.9);
  transition: 350ms; }
  /* line 292, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
  .sn-link:hover {
    transform: scale(1.1); }

/* line 296, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
.wpcf7-form-control-wrap {
  display: block; }

/* line 299, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
span.wpcf7-not-valid-tip {
  font-size: 0.75em;
  position: absolute;
  top: calc( 100% + 5px); }

/* line 304, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_ui.scss */
.wpcf7-response-output {
  text-align: center;
  border: none !important;
  margin: 1em;
  padding: 1em; }

/* line 1, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_grid.scss */
* {
  box-sizing: border-box; }

/* line 6, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_grid.scss */
.row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

/* line 8, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_grid.scss */
body > .row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center; }

/* line 12, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  padding-left: 10px; }

/* line 32, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
  min-height: 1px; }

/* line 32, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
  min-height: 1px; }

/* line 32, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
  min-height: 1px; }

/* line 32, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  min-height: 1px; }

/* line 32, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
  min-height: 1px; }

/* line 32, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  min-height: 1px; }

/* line 32, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
  min-height: 1px; }

/* line 32, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
  min-height: 1px; }

/* line 32, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
  min-height: 1px; }

/* line 32, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
  min-height: 1px; }

/* line 32, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
  min-height: 1px; }

/* line 32, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
  min-height: 1px; }

/* line 54, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.pull-left {
  margin-right: auto; }

/* line 57, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.pull-right {
  margin-left: auto; }

/* line 60, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.pull-top {
  margin-bottom: auto; }

/* line 63, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.pull-bottom {
  margin-top: auto; }

/* line 48, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.offset-1 {
  margin-left: 8.33333%; }

/* line 48, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.offset-2 {
  margin-left: 16.66667%; }

/* line 48, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.offset-3 {
  margin-left: 25%; }

/* line 48, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.offset-4 {
  margin-left: 33.33333%; }

/* line 48, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.offset-5 {
  margin-left: 41.66667%; }

/* line 48, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.offset-6 {
  margin-left: 50%; }

/* line 48, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.offset-7 {
  margin-left: 58.33333%; }

/* line 48, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.offset-8 {
  margin-left: 66.66667%; }

/* line 48, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.offset-9 {
  margin-left: 75%; }

/* line 48, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.offset-10 {
  margin-left: 83.33333%; }

/* line 48, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.offset-11 {
  margin-left: 91.66667%; }

/* line 48, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/mixins/_grid.scss */
.offset-12 {
  margin-left: 100%; }

/* line 25, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_grid.scss */
.f-sp-between {
  justify-content: space-between; }

/* line 28, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_grid.scss */
.f-sp-around {
  justify-content: space-around; }

/* line 31, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_grid.scss */
.f-stretch {
  align-content: stretch; }

/* line 36, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_grid.scss */
.b-text-and-image {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  /* line 46, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_grid.scss */
  .b-text-and-image .b-text {
    width: 100%;
    max-width: 670px; }
    /* line 49, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_grid.scss */
    .b-text-and-image .b-text p {
      margin: 1em; }
      /* line 51, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_grid.scss */
      .b-text-and-image .b-text p:last-child {
        margin-bottom: 0; }
  /* line 56, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_grid.scss */
  .b-text-and-image .b-image {
    width: 100%;
    max-width: 470px; }

/* line 1, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_typography.scss */
body {
  font-family: Arial, Helvetica; }

/* line 6, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_typography.scss */
h4 {
  font-size: 2em; }

/* line 10, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_typography.scss */
.c-inherit {
  color: inherit; }

/* line 11, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_typography.scss */
.c-black {
  color: #000; }

/* line 12, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_typography.scss */
.c-blue {
  color: #00b7f4; }

/* line 13, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_typography.scss */
.c-white {
  color: #fff; }

/* line 14, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_typography.scss */
.c-orange {
  color: #ffbe0d; }

/* line 15, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_typography.scss */
.c-grey {
  color: #f8f6f6; }

/* line 17, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_typography.scss */
.td-lt {
  text-decoration: line-through; }

/* line 21, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_typography.scss */
.align-center {
  text-align: center; }

/* line 4, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.h {
  background-color: #000;
  color: white;
  min-height: 130px;
  align-items: center; }
  /* line 9, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .h a {
    color: inherit;
    text-decoration: none;
    transition: 350ms; }
    /* line 13, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
    .h a:hover, .h a.active {
      color: #ffbe0d; }
  /* line 19, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .h_container {
    justify-content: space-between;
    padding: 1.25em 0; }
  /* line 23, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .h_nav-and-offer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px; }
  /* line 35, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .h_nav {
    width: 100%;
    font-size: 1.15em;
    letter-spacing: 0.05em; }
    /* line 39, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
    .h_nav ul {
      list-style: none;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between; }
  /* line 49, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .h_offer {
    text-align: center;
    font-size: 1.6em;
    letter-spacing: 0.1em;
    margin-top: 1em; }
    /* line 55, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
    .h_offer h1 {
      font-size: 1em; }
  /* line 60, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .h_contacts {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.15em;
    letter-spacing: 0.05em; }
    /* line 70, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
    .h_contacts a {
      margin-bottom: 1em; }

/* line 75, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.mo {
  position: relative;
  min-height: 550px;
  min-height: calc( 100vh - 130px);
  overflow: hidden; }
  /* line 80, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .mo:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: #ffbe0d; }
  /* line 89, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .mo:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../images/grey-polygonal.png") no-repeat;
    background-size: cover;
    background-position: left bottom;
    opacity: 0.03;
    z-index: -8; }
  /* line 101, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .mo_container {
    flex-wrap: nowrap;
    align-items: center; }
  /* line 105, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .mo_images {
    margin-left: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    flex-shrink: 1; }
  /* line 116, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .mo_text {
    white-space: nowrap; }
  /* line 119, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .mo_offer {
    font-size: 3.25em;
    letter-spacing: 0.11em; }
    /* line 123, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
    .mo_offer .sub {
      font-size: 0.65em; }
  /* line 127, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .mo_description {
    font-size: 2em;
    letter-spacing: 0.11em;
    color: white;
    font-weight: 300;
    margin-top: 80px;
    position: relative; }
    /* line 134, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
    .mo_description:before {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      padding: 0.5em;
      left: -0.5em;
      top: -0.6em;
      background: rgba(0, 0, 0, 0.05); }

/* line 150, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.a {
  background: #000;
  padding: 1.25em 0; }
  /* line 154, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .a_container {
    justify-content: center; }

/* line 160, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.advantages {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  white-space: nowrap;
  color: white; }

/* line 173, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.advantage {
  flex: 0 0 33.33%; }
  /* line 175, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .advantage-text {
    font-size: 1.3em;
    font-weight: 300;
    margin-top: 0.5em;
    line-height: 1em; }

/* line 182, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.f1 {
  padding-top: 30px;
  padding-bottom: 50px; }
  /* line 189, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .f1 .orange-border {
    max-width: 170px;
    margin-top: 15px; }
  /* line 195, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .f1 .sec-title {
    text-align: center;
    margin-top: 1em;
    max-width: 700px;
    margin: 1em auto; }

/* line 202, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.dl {
  position: relative;
  overflow: hidden; }
  /* line 205, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .dl:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f8f6f6;
    z-index: -10; }
  /* line 211, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .dl:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../images/grey-polygonal-2.jpg") no-repeat;
    background-size: cover;
    opacity: 0.15;
    z-index: -9; }
  /* line 219, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .dl_container {
    padding: 50px 0; }
    /* line 222, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
    .dl_container .sec-title {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 100%;
      max-width: 850px;
      margin-bottom: 1.5em; }
  /* line 232, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .dl_text {
    font-size: 1.25em; }
    /* line 236, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
    .dl_text p {
      margin-bottom: 0.7em; }
    /* line 239, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
    .dl_text a.btn {
      font-size: 1.2em;
      text-decoration: none; }

/* line 245, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.rec {
  position: relative; }
  /* line 247, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .rec:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffbe0d;
    z-index: -10; }
  /* line 253, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .rec:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../images/bg-citrus.jpg") no-repeat;
    background-size: cover;
    opacity: 0.035;
    z-index: -9; }
  /* line 261, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .rec_container {
    padding: 50px 0; }
  /* line 266, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .rec_col-left .sec-title {
    letter-spacing: 0.1em; }
  /* line 269, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .rec_col-left hr {
    width: 100px;
    margin: 100px auto 100px 0; }
  /* line 274, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .rec_text {
    font-size: 1.4em;
    letter-spacing: 0.05em;
    line-height: 1em;
    position: relative; }
    /* line 278, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
    .rec_text p {
      margin-bottom: 1em; }
    /* line 19, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_mixins.scss */
    .rec_text:before {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      padding: 1em;
      left: -1em;
      top: -1.1em;
      background: rgba(0, 0, 0, 0.05); }
  /* line 283, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .rec_form-col {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end; }
    /* line 290, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
    .rec_form-col .form-items {
      align-items: flex-end; }

/* line 296, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.st_container {
  padding-top: 60px;
  padding-bottom: 50px; }

/* line 300, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.st_title {
  text-align: center;
  letter-spacing: 0.15em; }

/* line 304, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.st_desc {
  text-align: center;
  font-size: 1.75em;
  max-width: 1000px;
  margin: 35px auto;
  line-height: 1.25em; }

/* line 312, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.st_stage {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px; }
  /* line 321, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .st_stage:last-child {
    margin-bottom: 0; }

/* line 325, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.st_img {
  width: 70%;
  max-width: 520px;
  min-width: 350px; }
  /* line 329, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .st_img img {
    width: 100%;
    height: auto; }

/* line 334, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.st_text {
  width: 70%;
  max-width: 520px;
  min-width: 350px;
  font-size: 1.15em; }
  /* line 341, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .st_text p {
    margin-bottom: 0.75em; }
    /* line 343, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
    .st_text p:first-child {
      font-weight: 600;
      font-size: 1.25em;
      line-height: 1em; }
    /* line 349, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
    .st_text p:last-child {
      margin-bottom: 0; }
  /* line 354, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .st_text.v-justify {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

/* line 365, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.rec-2 {
  position: relative; }
  /* line 367, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .rec-2:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffbe0d;
    z-index: -10; }
  /* line 373, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .rec-2:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../images/hex-bg.jpg") no-repeat;
    background-size: cover;
    opacity: 0.05;
    z-index: -9; }
  /* line 382, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .rec-2 .rec_col-left {
    padding-top: 45px; }

/* line 387, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.np_container {
  padding: 90px 0; }

/* line 391, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.np_title {
  letter-spacing: 0.2em;
  text-align: center; }

/* line 396, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.np_cnt {
  margin-top: 35px;
  font-size: 1.25em; }

/* line 400, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.np_text {
  max-width: 620px; }

/* line 404, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.pt {
  background: #f8f6f6; }
  /* line 406, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .pt_container {
    padding: 90px 0; }
  /* line 409, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .pt_title {
    letter-spacing: 0.2em;
    text-align: center; }
  /* line 413, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .pt_cnt {
    margin-top: 55px; }

/* line 417, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.spec {
  position: relative;
  color: white; }
  /* line 420, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .spec:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-color: #000; }
  /* line 426, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .spec:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/grey-polygonal-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.25;
    z-index: -9; }
  /* line 436, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .spec_container {
    padding: 100px 0;
    max-width: 950px; }
  /* line 440, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .spec_title {
    text-align: center;
    letter-spacing: 0.2em; }
  /* line 444, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .spec_cnt {
    text-align: center;
    margin-top: 40px;
    font-size: 1.45em; }

/* line 450, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.gift {
  position: relative; }
  /* line 453, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .gift:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-color: #ffbe0d; }
  /* line 459, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .gift:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg-citrus.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: -9; }
  /* line 470, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .gift_container {
    padding: 90px 0;
    max-width: 920px; }
  /* line 474, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .gift_title {
    letter-spacing: 0.2em;
    text-align: center; }
  /* line 478, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .gift_cnt {
    margin-top: 30px;
    font-size: 1.45em; }
  /* line 483, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .gift_item {
    margin-top: 20px; }
    /* line 485, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
    .gift_item:first-child {
      margin-top: 0; }
    /* line 489, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
    .gift_item-desc {
      color: white;
      margin-top: 20px; }
    /* line 493, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
    .gift_item-price {
      color: white;
      margin-top: 20px; }

/* line 500, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.case_row {
  padding: 90px 0; }

/* line 506, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.case_title {
  text-align: center;
  letter-spacing: 0.2em; }

/* line 510, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.case_cnt {
  margin-top: 75px; }

/* line 515, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.case_item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 25px; }
  /* line 526, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .case_item:after {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background-color: #ffbe0d;
    position: absolute;
    bottom: -1px;
    left: 25%; }
  /* line 537, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .case_item:last-child:after {
    display: none; }

/* line 542, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.case_info {
  font-size: 1.25em;
  max-width: 500px;
  flex-shrink: 0;
  flex-grow: 1; }

/* line 548, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.case_images {
  width: 400px;
  flex-shrink: 0;
  flex-grow: 0; }

/* line 555, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.case_slider {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch; }

/* line 568, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.case_slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center; }

/* line 577, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.contacts_row {
  background-color: #ffbe0d; }

/* line 580, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.contacts_container {
  padding: 90px 0; }

/* line 583, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.contacts_title {
  text-align: center;
  letter-spacing: 0.2em; }
  /* line 586, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .contacts_title a {
    color: inherit;
    text-decoration: none; }

/* line 591, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.contacts_cnt {
  margin-top: 85px; }

/* line 594, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.contacts_desc {
  text-align: center;
  font-size: 1.75em;
  margin-top: 20px; }

/* line 600, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.contacts {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

/* line 609, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.contact {
  flex-basis: 33.33%;
  min-width: 250px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  margin-bottom: 2em;
  position: relative; }
  /* line 621, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .contact:after {
    content: '';
    height: 55px;
    width: 2px;
    background-color: black;
    position: absolute;
    right: 0;
    top: calc(50% - 28px); }
  /* line 631, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .contact:last-child:after {
    display: none; }
  /* line 634, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .contact > div {
    text-align: center; }
  /* line 636, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .contact_label {
    margin-top: 20px; }
  /* line 639, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .contact_value {
    color: white; }
  /* line 642, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .contact a {
    color: inherit;
    text-decoration: none; }

/* line 648, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.price-table {
  width: 100%;
  max-width: 1170px;
  border-collapse: collapse; }
  /* line 652, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .price-table tr {
    width: 100%; }
    /* line 655, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
    .price-table tr th:first-child {
      text-align: left;
      width: 270px !important;
      max-width: 270px;
      padding-left: 30px; }
  /* line 663, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .price-table th, .price-table td {
    width: 25%;
    text-align: center;
    white-space: normal;
    padding-top: 10px;
    padding-bottom: 6px;
    vertical-align: middle;
    border: 1px solid #adacac;
    min-height: 45px; }
  /* line 674, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .price-table .action-row th, .price-table .action-row td, .price-table .header-row th, .price-table .header-row td {
    border: none; }

/* line 681, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.footer_row {
  background: #000;
  padding-top: 50px;
  padding-bottom: 70px;
  color: #fff; }

/* line 693, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.f-col-1 {
  text-align: center; }

/* line 696, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.f-col-2 {
  font-size: 1.5em; }

/* line 699, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.f-col-3 {
  font-size: 1.5em; }

/* line 705, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.f-p-2 {
  margin-top: 1em; }

/* line 709, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.f-p-4 {
  margin-top: 1em; }

/* line 712, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.f-p-5 {
  margin-top: 1em; }

/* line 721, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.policy__cnt {
  max-width: 800px; }

/* line 724, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.policy__main-title {
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 0.1em; }

/* line 729, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.policy__title {
  font-size: 1.15em;
  margin-top: 1.25em;
  font-weight: 600; }

/* line 741, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.wpcf7.fancybox-content {
  position: relative; }
  /* line 743, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .wpcf7.fancybox-content:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -2; }
  /* line 751, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .wpcf7.fancybox-content label {
    z-index: 0; }
  /* line 755, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .wpcf7.fancybox-content .has-submit:before, .wpcf7.fancybox-content .has-submit:after {
    z-index: 0; }
  /* line 758, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .wpcf7.fancybox-content .has-submit input {
    z-index: 1;
    position: relative; }

/* line 766, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.form-in-popup {
  float: none !important; }

/* line 774, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
.z-popup {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
  /* line 781, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .z-popup .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1; }
  /* line 787, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
  .z-popup__cnt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2; }
    /* line 792, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_blocks.scss */
    .z-popup__cnt:before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background-color: white;
      z-index: -10; }

/* line 1, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_forms.scss */
.form-title {
  font-size: 1.6em;
  letter-spacing: 0.075em; }

/* line 5, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_forms.scss */
.form-item {
  position: relative;
  font-size: 1.2em; }
  /* line 8, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_forms.scss */
  .form-item label {
    position: absolute;
    z-index: -1;
    left: 10px;
    top: 0.8em;
    opacity: 0.5;
    transition: 250ms; }
  /* line 17, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_forms.scss */
  .form-item input[type=text] {
    height: 3em;
    font-size: 1em;
    border: solid 1px black;
    border-radius: 3px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    background: transparent;
    width: 100%; }
  /* line 30, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_forms.scss */
  .form-item.label-out label {
    left: 5px;
    top: -1.5em;
    opacity: 0.25;
    font-size: 0.75em; }

/* line 40, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_forms.scss */
.form-item {
  width: 100%;
  max-width: 270px; }
  /* line 44, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_forms.scss */
  .form-item.sml input[type=text] {
    height: 2em; }
  /* line 47, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_forms.scss */
  .form-item.sml label {
    top: 0.4em; }
  /* line 51, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_forms.scss */
  .form-item.sml.label-out label {
    top: -1.25em; }
  /* line 58, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_forms.scss */
  .form-item.user-item {
    position: relative; }
    /* line 60, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_forms.scss */
    .form-item.user-item:after {
      content: '';
      display: block;
      position: absolute;
      background: url("../icons/icon-user.png") no-repeat;
      background-size: contain;
      background-position: right;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px; }
    /* line 74, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_forms.scss */
    .form-item.user-item input {
      padding-right: 40px; }
  /* line 78, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_forms.scss */
  .form-item.phone-item {
    position: relative; }
    /* line 80, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_forms.scss */
    .form-item.phone-item:after {
      content: '';
      display: block;
      position: absolute;
      background: url("../icons/icon-ringer-volume.png") no-repeat;
      background-size: contain;
      background-position: right;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px; }
    /* line 93, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_forms.scss */
    .form-item.phone-item input {
      padding-right: 40px; }
  /* line 97, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_forms.scss */
  .form-item.mail-item {
    position: relative; }
    /* line 99, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_forms.scss */
    .form-item.mail-item:after {
      content: '';
      display: block;
      position: absolute;
      background: url("../icons/icon-new-post.png") no-repeat;
      background-size: contain;
      background-position: right;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px; }
    /* line 112, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_forms.scss */
    .form-item.mail-item input {
      padding-right: 40px; }
  /* line 117, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_forms.scss */
  .form-item.submit-item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 100%; }
    /* line 126, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_forms.scss */
    .form-item.submit-item .icon {
      display: block;
      position: absolute;
      background: url("../icons/icon-enter.png") no-repeat;
      background-size: contain;
      background-position: right;
      right: 5px;
      width: 30px;
      height: 30px; }
    /* line 138, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_forms.scss */
    .form-item.submit-item input {
      padding-right: 40px; }
  /* line 143, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_forms.scss */
  .form-item .access {
    max-width: 100%;
    display: block;
    width: 100%;
    max-width: 320px;
    text-align: center;
    font-size: 0.75em;
    line-height: 1em;
    margin-top: 0.5em;
    text-align: center; }

/* line 160, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_forms.scss */
.form-items {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 930px;
  margin-left: auto;
  margin-right: auto; }
  /* line 175, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_forms.scss */
  .form-items.vertical-form {
    flex-direction: column;
    align-items: stretch;
    max-width: 400px;
    padding: 40px;
    border: solid 1px black;
    border-radius: 3px;
    float: right; }
    /* line 183, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_forms.scss */
    .form-items.vertical-form .form-title {
      width: 100%;
      text-align: center;
      margin-bottom: 1em; }
    /* line 188, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/_forms.scss */
    .form-items.vertical-form .form-item {
      max-width: 100%;
      margin-bottom: 1.75em; }

/* line 11, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/styles.scss */
body {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Fira Sans Condensed', sans-serif; }

/* line 29, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/styles.scss */
.bgi-1, .bgi-2 {
  position: absolute;
  z-index: -5; }

/* line 34, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/styles.scss */
.bgi-1 {
  left: 0;
  top: 0;
  transform: translateY(-30%) translateX(-30%) scale(0.8); }

/* line 39, /Users/khanigo/Documents/htdocs/zestland.loc/public_html/wp-content/themes/zest-space/assets/css/styles.scss */
.bgi-2 {
  bottom: 0;
  right: 0;
  transform: rotate(115deg) translateY(-25%) scale(0.8); }

/*# sourceMappingURL=styles.css.map */