@import 'reset';
@import 'bourbon/bourbon';
@import 'vars';
@import 'mixins';
@import 'ui';
@import 'grid';
@import 'typography';
@import 'blocks';
@import 'forms';

body{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: flex-start;
    //justify-content: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    //font-family: Bebas Neue;
    font-family: 'Fira Sans Condensed', sans-serif;

    //letter-spacing: 0.05em;
}


.bgi-1, .bgi-2{
    position: absolute;
    z-index: -5;
}

.bgi-1{
    left: 0;
    top: 0;
    transform: translateY(-30%) translateX(-30%) scale(0.8);
}
.bgi-2{
    bottom: 0;
    right: 0;
    transform: rotate(115deg) translateY(-25%) scale(0.8);
}