@mixin make-row( ){
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    @content;
}
@mixin make-container( $width , $pl:0, $pr:0){
    .container{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
        width: $width;
        @if $pl != 0 { padding-left: $pl; };
        @if $pr != 0 { padding-right: $pr; };
        @content;
    }
}
@mixin make-cols($prefix, $qty, $pl:0, $pr:0){
    @for $i from 1 through $qty {
        $width: percentage( $i / $qty );
        @include make-col($prefix, $i, $width);
    }
}
@mixin make-col($prefix, $qty, $width, $pl:0, $pr:0){
    .#{$prefix}col-#{$qty}{
        flex: 0 0 $width;
        max-width: $width;
        min-height: 1px;
        @if $pl != 0 { padding-left: $pl; };
        @if $pr != 0 { padding-right: $pr; };
    }
}

@mixin make-offsets($prefix, $qty){
    @for $i from 1 through $qty {
        $offset: percentage( $i / $qty );
        @include make-offset($prefix, $i, $offset);
    }
}
@mixin make-offset($prefix, $qty, $offset){
    .#{$prefix}offset-#{$qty}{
        margin-left: $offset;
    }
}

@mixin make-pull($prefix){
    .#{$prefix}pull-left{
        margin-right: auto;
    }
    .#{$prefix}pull-right{
        margin-left: auto;
    }
    .#{$prefix}pull-top{
        margin-bottom: auto;
    }
    .#{$prefix}pull-bottom{
        margin-top: auto;
    }
}


@mixin flex-no-resize(){
    flex-shrink: 0;
    flex-grow: 0;
}


@mixin pseudo-bg(){
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    @content;
}

@mixin flex-columns{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    @content;
}