@mixin btn(){
    display: inline-block;
    padding: 0.6em 2em 0.4em 2em;
    color: darkgrey;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

@mixin btn-colors($color, $bg-color){
    color: $color;
    background-color: $bg-color;
}

@mixin btn-hover-ef-1($bgcolor, $color){
    transition: background 100ms;
    transition-delay: 350ms;
    &:before, &:after{
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        background: $bgcolor;
        height: 105%;
        width: 70%;
        top: 0;
        transform: skewX(-45deg);
        transition: 350ms ease-in-out;
    }
    &:before{
        left: -100%;
    }
    &:after{
        right: -100%;
    }
    &:hover{
        background: transparent;
        transition: background 350ms;
        transition-delay: 0ms;
        border-bottom: solid 3px darken($bgcolor, 20%);
        //color: white;
        &:before{
            left: -15%;
        }
        &:after{
            right: -15%;
        }
    }
}